<div class="contentDiv">
  <div class="row no-gutters">
    <div class="col-md-6 col-sm-6 col-lg-8 pb-1">
      <div class="pt-05"></div>
      <span class="title">Dashboard</span>
      <date-toggle></date-toggle>
    </div>
    <div class="col-md-6  col-sm-6 col-lg-4">
      <div class="form-group" align="right">
        <input type="search" class="form-control" placeholder="Search">
      </div>
    </div>
  </div>
  
  <div class="pt-2"></div>

  <div class="row no-gutters">
    <div class="col-lg-7 col-md-12 pb-3">

      <div class="row no-gutters">
        <div class="col-d-12 col-sm-6 ">
          <div class="card red">
            <span class="header">1,234</span>
            <span>Registered Customers</span>
            <div class="line one">
  
            </div>
          </div>
        </div>
        <div class="col-d-12 col-sm-6">
          <div class="card green">
            <span class="header">3,425</span>
            <span>Value of Redemptions </span>
  
            <div class="line two">
              
            </div>
          </div>
        </div>
                
      <div class="w-100 pt-2"></div>
      
      <div class=" col-d-12 col-sm-6">
        <div class="card light-blue">
          <span class="header">3,456</span>
          <span>Points Redeemed</span>

          <div class="line three">

          </div>
        </div>
      </div>

      <div class="col-d-12 col-sm-6">
        <div class="card purple">
          <span class="header">3,456,789</span>
          <span>Cash Spend (Debit Card)</span>

          <div class="line four">
            
          </div>
        </div>
      </div>

    </div>
    </div>

    <div class="col-lg-5 pb-3 col-sm-12">
      <div class="card-lg">
        
        <div class="card-header">
          <span class="summary">Summary</span>
          <div [ngStyle]="{'position':'absolute', 'right': '25px', 'top': '8px'}">
            <span> Month</span>
            <button class="btn-round">All Time</button>
          </div>
        </div>

        <div class="card-body">
          <div class="pt-2"></div>
          <div class="container">
            <div class="row">
              <div class="col">
                <span >Lorem Ipsum</span>
                <span class="bold">12345789</span>
              </div>
              <div class="col">
                <span>Lorem Ipsum</span>
                <span class="bold">12345789</span>
              </div>

              <div class="w-100"></div>
              <div class="pt-3"></div>

              <div class="col">
                <span>Lorem Ipsum</span>
                <span class="bold">12345789</span>
              </div>
              <div class="col">
                <span>Lorem Ipsum</span>
                <span class="bold">12345789</span>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>
    
  </div>
</div>