<div class="contentDiv">
  <h3>Merchant Partners</h3>

  <div class="pt-2"></div>

  <form action="">
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="form-group">
          <label>Name *</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control">
        </div>

        <div class="form-group">
          <label>Additional Info</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group">
          <label>Website</label>
          <input type="url" class="form-control">
        </div>

      </div>
      <div class="col-md-6">

        <div class="form-group">
          <label>Address *</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group">
          <label>Phone</label>
          <input type="tel" class="form-control">
        </div>

        <div class="form-group">
          <label>IMAGE (SIZE: 400 X 400 PIXELS)*</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group">
          <div class="pt-3"></div>
          <div class="row no-gutters check-options">
            <div class="col">
              <input type="checkbox"> Active
            </div>
            <div class="col">
              <input type="checkbox"> Featured
            </div>
            <div class="col">
              <input type="checkbox"> Does Home Delivery
            </div>
          </div>

        </div>
      </div>

      <div class="buttonDiv">
        <button class="btn-danger mb-1">Create Discount Partner</button>
        <button routerLink="/dashboard/merchant" class="btn-default">Cancel</button>
      </div>
    </div>
  </form>
</div>