<div class="contentDiv">
    <div class="row no-gutters">
      <div class="col-sm-6 col-lg-8">
        <div class="pt-05"></div>
        <span class="title">Users</span>
        <date-toggle></date-toggle>
      </div>
      <div class="col-sm-4 col-lg-4">
        <div class="form-group" align="right">
          <input type="search" class="form-control" placeholder="Search">
        
        </div>
      </div>
    </div>

    <div class="row no-gutters pt-3">
      <table class="col-12">
          <thead>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Joined</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let td of tableData">
              <td> {{ td.id}} </td>
              <td> {{ td.firstName }} </td>
              <td> {{ td.lastName }} </td>
              <td> {{ td.email }} </td>
              <td> {{ td.phone }} </td>
              <td> {{ td.lastLoginDate }} </td>
              <td> <span class="icomon"> </span> </td>
            </tr>
          </tbody>
        </table>
    </div>

</div>       