 
#dateDiv{
    display: inline;
    position: relative;
  }
  
  #divRange{
    position: absolute;
    background-color: #fff;
    width: 160px;
    z-index: 1000;
    box-shadow: 0px 0px 1px #ccc;
    left: -32px;
    top: 35px;
    padding: 15px;
    transition: .3s;
  }
  
  #divRange ul{
    margin: 0;
    padding: 0;
  }
  #divRange ul li{
      display: block;
      color: #727272;
      /* font-weight: bold; */
      font-size: 12px;
      padding: 10px;
  }
  
  #divRange ul li.active{
      background: #292828;
      border: 1px solid;
      border-radius: 3px;
      color: #c5c5c5;
  }
  
  #divRange button{
    border: none;
    padding: 6px 1px;
    width: 60px;
    margin: 3px;
    border-radius: 20px;
    font-size: 10px;
    margin-top: 5px;
    font-family: 'Circular Std';
    font-weight: 500;
    cursor: pointer;
    position: relative;
      }
  
  #divRange button.danger{
    background-color: rgb(179, 0, 0);
    border: 1px solid rgb(179, 0, 0);
    color: rgb(231, 231, 231);
  }
  
  #divRange button.default-outline{
    background-color: transparent;
    border: 1px solid gray;
    color: gray;
  }

  
.rectangle-date{
  background-color: #ECECEC;
  border-radius: 12px;
  width: 118px;
  display: inline-block;
  height: 24px;
  margin-left: 20px;
  line-height: 26px;
  font-size: 14px;
  font-size: 12px;
  text-indent: 12px;
  position: relative;
  color: rgb(167, 167, 167);
}

.rectangle-date span{
color: rgb(22, 22, 22);
font-weight: 500;
font-family: 'Circular Std';
}

.rectangle-date i.button{
  display: inline-block;
  height: 100%;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 24px;
  height: 24px;
  background: rgb(43, 43, 43);
  position: absolute;
  right: 1px;
  top: 0;
  border-radius: 100%;
  cursor: pointer;
  background-image: url(../../../assets/arrow-down.svg);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
}


